# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Valgrind
a.out.dSYM
*.dSYM

#Vscode
.vscode

#clion
cmake-build-debug/
.idea/
CMakeLists.txt


#Webserv
webserv
#Text
text
test*

*.DS_Store
webserv
tmp_file
client_test
Config

#CLion
.idea/
cmake-build-debug/
CMakeLists.txt

#FILES
file_2
file_should_exist_after
